.margT {
  /*margin-top: -43px;*/
  z-index: 10;
}
:focus { outline: none; }
#home {
  background-color: white!important;
}


.content-container {
  width: 78%;
  margin-left: 11%;
  background-color: white;
  /*border-radius: 3px;*/
  /*box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);*/
  height: 750px;
  /* background-image:url(../_assets/blur_3.png);
  background-position: -130px 53%;; */
}

.smMargT{
  margin-top: 20px;
}

.welcome-area {
  height: 63px;

}
.white {
  /*background-color: white;*/
  background-color: rgba(255, 255, 255, 0.91);
  background-clip: content-box;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /* border: 1.3px solid black; */
  padding-left: 0;
  padding-right: 0;

}
.col-6 {
  width: 48%;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.welcome {
  margin-top:0;
  padding-top: 10px;
  padding-left: 5%;
  color: #8c8181;
  width: 80%;
  float: left;
  margin-bottom: 0;
}
.other {
  height: 300px;
}
.weather {
  height: 150px;
  margin-left: 10px;
  margin-right: 15px;

}
.welcome-icon {
  height: 34px;
  float: right;
  margin-right: 5%;
  margin-top: 10px;

}
.outline {
  /* border: 1px solid #28a745; */
}
.content {
  margin-left: 5%;
  margin-right: 5%;
}
.shotcut {
  height: 140px;
}
.template1{
  font-size: 50px;
  margin-top: 30px;
  margin-left: 50px;
}
.backg2 {
  background-image: url(https://theysaidso.com/img/bgs/man_on_the_mountain.jpg);
  background-size: 100%;
  opacity: 1;
}
.quote {
  margin: 20px 20px 20px 20px;
  padding-top: 20px;
}
.quote-title {
  margin: 20px 20px 20px 0px;
}
