ul {
   list-style-position: none;
}
#Nav {
  background-color: #404040;
  height: 120px;
  width: 85%;
  margin-left:7.5%;
}
.nav-icons {
  height: 110px;
  margin-left: 8.5%;
  margin-right: 8.5%;
}
.nav-icon-area {
  display: inline;
  margin-top: 5px;
  height: 100px;
  width: 110px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 3px;
}
.nav-icon-area:hover {
  background-color: #555555;
  /* background-color: #fdfdfd; */
  position:relative;
}
.nav-icon {
  height: 64px;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 5px;
}
.nav-icon-title {
  color: white;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
}
.selected {
  background-color: #555555;
  position:relative;
}
.selected:after {
   content:'';
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   margin: 0 auto;
   width: 0;
   height: 0;
   border-top: solid 5px #fff;
   border-left: solid 55px #fff;
   border-right: solid 55px #fff;
}
.right {
  float: right;
}
