.content-container {
  width: 78%;
  margin-left: 11%;
  background-color: white;
  /*border-radius: 3px;*/
  /*box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);*/
  height: 750px;
}
.marT {

  /*margin-top:  -43px;*/
}
