@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
:focus { outline: none; }
.content-container {
  width: 78%;
  margin-left: 11%;
  background-color: white;
  border-radius: 3px;
  /* box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); */
  height: 750px;
  /* background-image:url(../_assets/blur_3.png);
  background-position: -130px 53%;; */
}

.marr {

  margin-top:  -63px;
}
.card-area{
  margin: 0 20px 20px 30px;
  padding-top: 20px;
}
.dispT{
  margin-top: 20px;
}
.card {
  width: 320px;
  float: left;
  margin: 15px 10px;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	box-shadow: 0 0.5px 1px #777;
  height:168px;
  cursor: pointer;
}
.card-detail {
  width: 77.9%;
  /* width: 50%; */
  height:750px;
  position: absolute;
  top: 183px;
  left:10.9%;
  transition: all 0.9s ease;
  opacity: 1;
  z-index: 10;
  opacity:1;
  background-color: white;
  border-radius: 5px;
}
.card-detail:hover {
  opacity: 1;
}

.card::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 5px;
}
.card:hover{
  box-shadow: 0 2px 2px #777;
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  border-radius: 5px;
}
.card:hover::after {
  opacity: 1;
  border-radius: 5px;
}
.card-title {
  margin: 5px 5px;
}
.card-body {
  height: 750px;

}
.unitID {
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.card-body p {
  /* margin-left: 120px; */
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.card-body-left {
  width: 50%;
  padding-top: 13%;
  float: left;
  height: 170px;
  background-color: #43c37f;
}
.card-detail-body-left {
  width: 15%;
  padding-top: 20%;
  float: left;
  height: 750px;
  background-color: #43c37f;
  border-radius: 5px;
}
.detail-left-h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  padding-left: 25%;
  font-size: 50px;
  font-weight: bold;
}
.card-body-left h2 {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.card-body-right h2 {
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px
}
.card-body-right p {
  margin-left: 55px;
  margin-bottom: 3px;
  font-size: 13px;
}
.card-body-right {
  width: 50%;
  float: left;
  height:168px;
}
.card-detail-body-right {
  width: 85%;
  height: 750px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 15%;
  /*margin-top: -20px;*/
}
.TK1 {
  /* background-color: #fa8231; */
  background-color: #d4f7e8;
}
.XU4 {
  /* background-color: #20bf6b; */
    background-color: #eaecd3;
}
.RPI {
  /* background-color: #fc5c65; */
    background-color: #ecbfbf;
}
.DELL {
  /* background-color: #45aaf2; */
    background-color: #d3edf9;
}
.DetailComponent {
  display: none;
}
