#Todo {
  height: 300px;
}
.template {
  font-size: 50px;
  margin-top: 100px;
  margin-left: 50px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.glass {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  /*width: 85%;*/
}
.right {
  float: right;
}
.table-btn {
  margin: 0 5px 0 0px;
}
.todo-text {
  width: 70%;
}
.middle {
  margin-right: 15px;
}
.todo-btn-area {
  width: 20%;
}
.add-btn {
  margin-left: 20px;
}
.form-horizontal .form-group {
  margin-left: 10px;
  margin-right: 10px;
}

.todofromrow {
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 25px;
}
.sumbit-button {
  margin-right: 25px;
  margin-left: 25px;
  height: 45px;
  margin-bottom: 10px;
}
.btn-resize {
  height: 35px;
}
.control-label {
  font-size: 15px;
  padding-bottom: 5px;
}
