.location {
  color: #9f521f;
  font-size: 15px;
  font-weight:600;
  padding-left: 10%;
  padding-top: 50px;
  width: 30%;
  float: left;
  margin-right: 10px;
}
.weather {
  height:auto;
}
.weather-icon {
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 50px;
  margin-top: 45px;

}
.description{
  text-transform: uppercase;
}
.current{
  width: 20%;
  float: left;
}
.forecast {
  float: left;
  width: 78%;
}
.forecast-detail {
  float: left;
  margin: 10px 10px;
}
