@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
.location {
  color: #9f521f;
  font-size: 15px;
  font-weight:600;
  padding-left: 10%;
  padding-top: 50px;
  width: 30%;
  float: left;
  margin-right: 10px;
}
.weather {
  height:auto;
  width: 1500px;
  margin-bottom: 40px;
}
.weather-icon {
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 50px;
  margin-top: 45px;

}
.description{
  text-transform: uppercase;
}
.current{
  width: 22%;
  float: left;
  height: 200px;
  background-image:url(../_assets/backg.jpg);
  /*background-color: white;*/
  background-size: 130%;
  border-radius: 5px;
  background-position: 0 -20px;
  margin-left: 10px;
  box-shadow: 0 0.5px 1px #777;
}
.forecast {
  float: left;
  width: 1100px;
}
.forecast-detail {
  float: left;
  margin: 10px 10px;
}
.temperature {
  font-family: 'Titillium Web', sans-serif;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 25px;
  margin-top: 30px;
  font-size: 45px;
  margin-left: 5px;
}
.city{
  border-left: 5px solid black;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-left: 5px;
  font-size: 25px;
  margin-top: 5px;
}
.currentTime {
  border-left: 5px solid black;
  margin-left: 10px;
  padding-left: 5px;
}
.tempDetail {
  margin-bottom: 2px;
  text-align: left;
  margin-right: 5px;
  margin-left: 56%
}
.recharts-wrapper {
  margin-left: 10px;
}
